@font-face
{
    font-family: "mapolice";
    src : url("police/Montserrat.ttf")
}

body
{
    background-color:#F8F9F9;
    font-family: "mapolice";
    font-size: 13px;
}

h1
{
    font-weight: normal;
    font-size: 230%;
    padding-bottom: 10px;
    text-align: center;
}

h2
{
    font-size: 150%;
}

p
{
    margin-top: 10px;
}

#site
{
    margin-left: auto;
    margin-right: auto;
    
}

#header 
{
    padding-top: 42px;
    padding-left: 82px;
    top: 0;
}

#contenu 
{   
    color: #535252;
    text-align: center;
    height: 100px;
    width: 100%;
}

#footer 
{
    text-align: center;
    background-color: #5c5b5b;
    padding: 40px 15px 15px 40px;
}

#menu 
{
    height: 34px;
    font-size: 130%;
    color: #FFFFFF;
    font-variant: small-caps;
    text-align: center;
}

.element 
{
    display: inline;
    cursor: pointer;
    margin-right: 15px;
    padding: 0 0 0 6px;
    font-size: 25px;
}

.element a 
{
    text-decoration: none;
    color: #FFFFFF;
}

.element2 
{   
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-size: 25px;
}

.element2 a
{
    text-decoration: none;
    color: #5d5d5d;    
}

.float
{
    float: left;
    margin-left: -80px;
}

.saison
{
    color: #2b2a2a;
    font-size: 25px;
}

.episode
{
    color: #2b2a2a;
    font-size: 20px;
}
.acceuil
{
    color: #9f9f9f;
}

.img
{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 5px;
}

.texte
{
    text-align: center;
    font-size: 15px;
    color : #808B96;
}

.titre
{   
    margin-top: 35px;
    font-size: 45px;
    text-align: center;
    color: #5d5d5d;
}
.trait_dessous
{
    border-bottom: 2px solid rgb(69, 94, 236);   
}